PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=fidelity
JWT_USER_SECRET=replace_with_strong_user_secret
JWT_ADMIN_SECRET=replace_with_strong_admin_secret
JWT_EXPIRES_IN=1d
MIN_WITHDRAW_LIMIT=100
